body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('wedding bg 2.jpg');
    background-size: auto;
    background-position: center;
  }
  
  .container {
    text-align: center;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.7); /* Add a semi-transparent white background to make text more readable */
    padding: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  button {
    padding: 10px 20px;
    background-color: #ff7f50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ff6347;
  }
    